<h1>This is login</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username" id="">
    <input type="password" name="password" placeholder="password" id="">
    <button>Login</button>
</form>


<a href="/register">SignUp</a> 
<a href="/login">Login</a> 
<a href="/logout">Logout</a>
